@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');


html {
  scroll-behavior: smooth; /
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif; 
  background-color: #0C1A14; 
  color: #F2F2F2; 
}