# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Linia noua adaugata: Ignora intreg directorul de configurare IDEA/WebStorm
.idea/